<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <title>listsub</title>
</head>
<body>

    <div id="app">     
      <el-table  :data="listData"   style="width: 100%">
          <el-table-column        prop="id"        label="id"> </el-table-column>
          <el-table-column        prop="subInfo"        label="订阅信息"> </el-table-column>
          <el-table-column        prop="privateKey"        label="私钥"> </el-table-column>
          <el-table-column        prop="publickey"        label="公钥"> </el-table-column>
      </el-table>
    </div>
   
    <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script>
        new Vue({
          el: '#app',
          data: {
            listData: [           
            ]
          },
          created () {
            axios.get('/api/getSubList/').then((res) => {
              let {data} = res.data
              console.log(data)
              this.listData = data
            })
          }
        })
    </script>
</body>
</html>